@import 'app/styles/reset';
@import 'app/styles/variables';
@import 'app/styles/fonts.scss';
@import 'app/styles/common.scss';
@import 'app/styles/header.scss';
@import 'app/styles/intro.scss';
@import 'app/styles/services.scss';
@import 'app/styles/examples.scss';
@import 'app/styles/work-flow.scss';
@import 'app/styles/response.scss';
@import 'app/styles/footer.scss';
@import 'app/styles/about.scss';
@import 'app/styles/prices.scss';

body {
  font-family: $font-family;

  color: #333333;

  @media screen and (max-width: 500px) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}
